# Parcel build output
dist/
.parcel-cache/

# TypeScript compilation artifacts
*.js
*.js.map
*.d.ts
*.d.ts.map

# Node modules
node_modules/

# Code editor files
.vscode/

# Environment variables
.env

# Databse
db.json

# Typescript configuration
tsconfig.json